/* .cesium-popup {
	position  : absolute;
	text-align: center;
}

.cesium-popup-close-button {
	position       : absolute;
	top            : 0;
	right          : 0;
	padding        : 4px 4px 0 0;
	text-align     : center;
	width          : 18px;
	height         : 14px;
	font           : 16px/14px Tahoma, Verdana, sans-serif;
	color          : #c3c3c3;
	text-decoration: none;
	font-weight    : bold;
	background     : transparent;
}

.cesium-popup-content-wrapper {
	text-align   : center;
	max-height   : 200px;
	overflow-y   : auto;
	background   : white;
	box-shadow   : 0 3px 14px rgba(0, 0, 0, 0.4);
	padding      : 1px;
	text-align   : left;
	border-radius: 12px;
}

.cesium-popup-content {
	margin     : 13px 19px;
	line-height: 1.4;
}

.cesium-popup-tip-container {
	margin  : 0 auto;
	width   : 40px;
	height  : 20px;
	position: relative;
	overflow: hidden;
}

.cesium-popup-tip {
	background       : white;
	box-shadow       : 0 3px 14px rgba(0, 0, 0, 0.4);
	width            : 17px;
	height           : 17px;
	padding          : 1px;
	margin           : -10px auto 0;
	-webkit-transform: rotate(45deg);
	-moz-transform   : rotate(45deg);
	-ms-transform    : rotate(45deg);
	-o-transform     : rotate(45deg);
	transform        : rotate(45deg);
}
 */


.cesium-popup {
	position  : absolute;
	text-align: center;
	color: #ffffff;
}

.cesium-popup-close-button {
	position       : absolute;
	top            : 0;
	right          : 0;
	padding        : 4px 4px 0 0;
	text-align     : center;
	width          : 18px;
	height         : 14px;
	font           : 16px/14px Tahoma, Verdana, sans-serif;
	color          : #c3c3c3;
	text-decoration: none;
	font-weight    : bold;
	background     : transparent;
}

.cesium-popup-content-wrapper {
	text-align   : center;
	width        : auto;
	max-height   : 500px;
	max-width    : 500px;
	overflow-y   : auto;
	background   : transparent;
	box-shadow   : 0 3px 14px #44C0EC;
	padding      : 1px;
	text-align   : left;
	border-radius: 12px;
}

.cesium-popup-content {
	margin     : 13px 19px;
	line-height: 1.4;
}

.cesium-popup-tip-container {
	margin  : 0 auto;
	width   : 40px;
	height  : 20px;
	position: relative;
	overflow: hidden;
}

.cesium-popup-tip {
	background       : transparent;
	box-shadow       : 0 3px 14px #44C0EC;
	width            : 17px;
	height           : 17px;
	padding          : 1px;
	margin           : -10px auto 0;
	-webkit-transform: rotate(45deg);
	-moz-transform   : rotate(45deg);
	-ms-transform    : rotate(45deg);
	-o-transform     : rotate(45deg);
	transform        : rotate(45deg);
}