/node_modules/
/build/
/.idea/
/.vscode/

/docs/leaflet/
/docs/mapboxgl/
/docs/openlayers/
/docs/cesium/

/src/service/node_modules/

/src/leaflet/theme/
/src/mapboxgl/theme/
/src/openlayers/theme/
/src/common/overlay/
/src/common/assets/
/src/config/common/

/website/node_modules/
/website/public/docs/leaflet/
/website/public/docs/mapboxgl/
/website/public/docs/openlayers/
/website/public/docs/cesium/
/website/public/static/data/
/website/public/static/data/deckgl/
/website/public/static/data/echarts/gps/
/website/public/static/data/echarts/line/
/website/public/static/data/echarts/point/
/website/public/static/data/echarts/road/
/website/public/static/libs/cdn