/*=S 头部区域样式 */
#pageHeader {
    width: 100%;
    height: 60px;
    z-index: 4;
    position: absolute;
    box-shadow: 0 2px 4px #ccc;
    background-color: #DFE8F6;
}

    #pageHeader .logo {
        height: 50px;
        float: left;
        margin-top: 6px;
        margin-left: 20px;
        position: absolute;
    }

        #pageHeader .logo img {
            height: 50px;
            width: 146px;
            float: left;
        }

        #pageHeader .logo span {
            display: block;
            float: left;
            color: #15428B;
            font-size: 160%;
            font-weight: bold;
            margin: 10px 5px;
        }

    #pageHeader a.help {
        display: block;
        float: right;
        color: #15428B;
        line-height: 38px;
        border-radius: 2px;
        font-size: 16px;
        padding: 0 16px;
        margin: 5px 20px 0 0;
        border: 1px solid #b1b1b1;
    }

        a.help:hover, #pageHeader a.help:hover {
            color: #fff;
            background-color: #339999;
        }

a.help span {
    padding-right: 10px;
    display: block;
    float: left;
    font: italic bold 26px/38px "Times New Roman",Georgia,Serif,arial,sans-serif;
}

.logoText {
    margin: .2em;
    color: #fff;
    position: relative;
}

    .logoText:before, .logoText:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: left top;
        transition: all 0.3s ease 0s;
    }

    .logoText:before {
        color: #15428B;
        z-index: 3;
        transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
    }

    .logoText:after {
        color: rgba(0,0,0,0.2);
        transform: scale(1.1,1) rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
        z-index: 2;
    }

    .logoText:hover:before {
        color: #fafafa;
        transform: rotateX(0deg) rotateY(-40deg) rotateZ(0deg) skew(0deg,1deg);
    }

    .logoText:hover:after {
        transform: scale(1.1,1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(0deg,20deg);
    }


/*页面主体*/
html, body {
    width: 99%;
    border: 1px none;
    margin: 0;
    overflow: auto;
    padding: 5px;
}

#sourceHeader {
    height: 29px;
    margin-bottom: 5px;
}

div#sourceDesc {
    color: #0a246a;
    font-family: 幼圆,微软雅黑,Times New Roman;
    font-size: 14px;
    font-weight: bolder;
    margin: 0 0 5px;
}

#sourceTextArea {
    background-color: #a9a9a9;
    font-family: Times New Roman;
    font-size: 13px;
    height: 2000px;
    line-height: 20px;
    margin: 0 auto;
    overflow: auto;
    padding: 10px 0 0 20px;
    width: 95%;
}

div#header {
    height: 35px;
    margin-bottom: 5px;
}

#title {
    color: #0a246a;
    font-family: 幼圆,微软雅黑,Times New Roman;
    font-size: 22px;
    font-weight: bold;
    margin-left: 5px;
}

#shortdesc {
    color: #333333;
    font-family: 幼圆,微软雅黑,Times New Roman;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 0 20px;
}

#mapCon {
    width: 100%;
    height: 90%;
    position: absolute;
}

#contentTable {
    height: 460px;
    min-height: 400px;
    width: 100%;
    table-layout: fixed;
}

#contentTableRow {
    width: 100%;
    height: 100%;
}
/*功能操作面板*/
#toolSpanelCon, textarea {
    border: 1px solid #cccccc;
    width: 200px;
    font-size: 12px;
    font-family: 幼圆,微软雅黑,Times New Roman;
}

p {
    color: #0a246a;
    font-weight: bold;
}

    p span {
        color: #000000;
        font-weight: normal;
    }
/*td02*/
#mapSpanelCon {
    margin: auto;
}
/*td02中的div*/
#toolspanel {
    margin: 5px;
    width: 210px;
    margin-right: 10px;
    overflow-y: auto;
    height: 490px;
    overflow: auto;
}
    /*目录服务*/
    #toolspanel option {
        width: 90px;
    }



/*颜色转换服务*/
.setRGBColorNoTable {
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

    .setRGBColorNoTable td {
        border-left: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
    }

        .setRGBColorNoTable td input {
            width: 25px;
        }


/*点投影转换*/
.tdValue {
    width: 130px;
}

/*拓扑分析，行内对齐样式*/
.lineStyle input {
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
}
/*地图基本操作图标*/
#toolspanel img {
    width: 30px;
    height: 30px;
}

#toolspanel .functionButton {
    width: 100px;
    height: 30px;
    border: 0px;
    margin: 5px;
    background-color: White;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    font-size: 12px;
    font-family: Microsoft YaHei;
}

/*返回客户端所绘制图形的几何坐标*/

#getposInfoText {
    font-family: Times New Roman;
    font-size: 13px;
    height: 200px;
    line-height: 20px;
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
}

/*动态投影显示*/
#map {
    float: left;
    height: 320px;
    width: 380px;
    border: 1px solid #ccc;
}

#prjMap {
    float: left;
    margin-left: 5px;
    height: 320px;
    width: 380px;
    border: 1px solid #ccc;
}

/*统计图*/
#ChartRltdiv {
    border-left: 1px solid rgb(223,234,252);
    border-right: 1px solid rgb(223,234,252);
    background-color: white;
}

#toolspanel #chartContainer {
    width: 100%;
}

#toolSpanelConForChart {
    border: 1px solid #cccccc;
    width: 360px;
    font-size: 12px;
    font-family: 幼圆,微软雅黑,Times New Roman;
}

    #toolSpanelConForChart #toolspanel {
        width: 360px;
        margin-right: 5px;
    }

/*军事标绘*/
#toolSpanelConForMilStdArrow {
    border: 1px solid #cccccc;
    width: 235px;
    font-size: 12px;
    font-family: 幼圆,微软雅黑,Times New Roman;
}

    #toolSpanelConForMilStdArrow #toolspanel {
        width: 235px;
        margin-right: 5px;
    }

/*等值线分析*/
#toolSpanelConForContourAnalysis {
    border: 1px solid #cccccc;
    width: 238px;
    font-size: 12px;
    font-family: 幼圆,微软雅黑,Times New Roman;
}

    #toolSpanelConForContourAnalysis #toolspanel {
        width: 238px;
        margin-right: 5px;
    }

    #toolSpanelConForContourAnalysis .functionButton {
        width: 80px;
    }
/*等值线分析--输入框*/
.timeInput {
    width: 80px;
}

/*网络分析*/
#toolSpanelConForNetAnalysis {
    border: 1px solid #cccccc;
    width: 300px;
    font-size: 12px;
    font-family: 幼圆,微软雅黑,Times New Roman;
}

    #toolSpanelConForNetAnalysis #toolspanel {
        width: 300px;
    }

    #toolSpanelConForNetAnalysis .functionButton {
        width: 80px;
    }

#baseAnalyseTab {
    width: 280px;
}

    #baseAnalyseTab #catogory {
        width: 60px;
    }
/*分析报告显示窗口*/
#resInfoDiv {
    width: 270px;
    height: 100px;
}

    #resInfoDiv #resInfoShow {
        width: 100%;
        height: 100%;
    }

/*分析类型*/
#baseAnalyseTab #analyTypeSelect {
    width: 150px;
}

    #baseAnalyseTab #analyTypeSelect option {
        width: 140px;
    }

#toolspanel #UserModeDIV {
    width: 205px;
}
/*分析类型下的select设置项*/
.netAnalySelect {
    width: 90px;
}
    /*分析类型下的select设置项下的option*/
    .netAnalySelect option {
        width: 60px;
    }

.functionButtonAnaly {
    width: 80px;
}

.netAnalySelect #lengthWeightSelect {
    width: 50px;
}

.netAnalySelect #gradeWeightSelect {
    width: 50px;
}

/*交互式查询按钮*/
.functionButtonForQuery {
    width: 150px;
    height: 30px;
    border: 0px;
    margin: 5px;
    background-color: White;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    font-size: 12px;
    font-family: Microsoft YaHei;
}
/*属性查询*/
.lineStyle label {
    line-height: 20px;
}

#conditionCONQ {
    width: 120px;
}

/*网络分析*/
#introduction {
    overflow: auto;
    font-size: 10pt;
    font-family: 微软雅黑;
    color: #008000;
}
