#GlobeView {
    width: 100%;
    height: 100%;
    position: absolute;
}

#coordinateDiv {
    color: #F0EFEF;
    line-height: 30px;
    margin-left: 30%;
    bottom: 0px;
    font-size: 80%;
    font: '雅黑';
}

.message {
    position: absolute;
    top: 16px;
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    border: 1px solid #dddddd;
    z-index: 200;
}

.message p {
    text-align: center;
    height: 15px;
    margin: 0;
    border-bottom: groove 1px #dddddd;
    margin-bottom: 3px;
}

.message span {
    display: block;
    width: 230px;
}

.message span font {
    width: 95px;
    text-align: center;
    display: inline-block;
}

.message input {
    float: right;
    width: 125px;
    height: 14px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    font-family: Microsoft YaHei;
    color: #373d41;
    outline: none;
}

.message button {
    width: auto;
    border: none;
    background-color: white;
    color: #373d41;
    outline: none;
    font-size: 12px;
    font-family: "微软雅黑";
    border: 1px solid #dddddd;
}

.message select {
    position: absolute;
    width: 90px;
    height: 21px;
    line-height: 1;
    border: none;
    color: #000000;
    background-color: #f4f7fb;
    outline: none;
}