.biaoti
{
    color: #0075C7;
    font-size: 17px;
    font-weight: bold;
    margin: 10px;
}
.xiaobiaoti
{
    color: #0075C7;
    font-family: 楷体;
    font-weight: bold;
    font-size: 16px;
}
.zhengwen
{
    font-size: 9pt;
    padding: 10px 10px 10px 10px;
    font-family: 微软雅黑;
    /* border: 2px solid #008000; */
    background-color: #E8ECF3;
}
.zhuji
{
    font-size: 9pt;
    padding: 10px;
    /* border: 1px ridge #0075C7; */
    background-color: #FFFFCC;
    font-family: 微软雅黑;
    color: #008000;
}
a
{
    font-size: 12px;
    text-indent: 24px;
}
/*类名*/
.Class
{
    font-weight: bold;
}
/*构造函数标题*/
.constructorTile
{
    font-weight: bold;
}
/*构造函数*/
.constructor
{
    font-weight: bold;
}
/*参数说明*/
.paraDescription
{
    font-weight: bold;
}
/*参数*/
.parameter
{
    font-weight: bold;
    color: Red;
}
/*下一级参数*/
.nextParameter
{
    color: Red;
}
/*方法说明*/
.funDescription
{
    font-weight: bold;
}
/*方法名称*/
.functionName
{
    font-weight: bold;
    color: Red;
}
/*公共属性*/
.attribute
{
    font-weight: bold;
}
/*=S 滚动条样式部分*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #d1cfcf;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #f7f7f7;
    -webkit-box-shadow: inset 0 0 6px #d1cfcf;
}
/*=E 滚动条样式部分*/