<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,IE=11,IE=10">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <title>版本声明</title>
    <style>
        p {
            font-size: 12px;
        }
        .title {
            font-weight: bold;
            font-size: 10px;
        }
        span {
            font-weight: normal;
        }
    </style>
</head>
 
<body>
<p class="title">提交记录:<a id="last-commit" href="" target="_blank"><%= htmlWebpackPlugin.options.buildInfo.commit %></a></p>
<p class="title">提交用户:<span><%= htmlWebpackPlugin.options.buildInfo.commitUserName %></span></p>
<p class="title">提交日期: <span><%= htmlWebpackPlugin.options.buildInfo.commitDate %></span></p>
<p class="title">编译用户: <span><%= htmlWebpackPlugin.options.buildInfo.buildUserName %></span></p>
<p class="title">编译邮箱: <span><%= htmlWebpackPlugin.options.buildInfo.buildUserMail %></span></p>
<p class="title">编译日期: <span><%= htmlWebpackPlugin.options.buildInfo.buildDate %></span></p>
<script>
    var link = document.getElementById('last-commit');
    link.href = 'https://github.com/MapGIS/WebClient-JavaScript/tree/' + link.innerText;
</script>
</body>
 
</html>